
.boxes {
    display: flex;
    /*justify-content: center;*/
}

.box {
    align-items: center;
    margin-left: 20px;
    /*border: solid 1px gray;*/
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: white;
}

.box:nth-child(1) {
    background-color: #ffd249;
}

.box:nth-child(2) {
    background-color: #ffc015;
}

.box:nth-child(3) {
    background-color: #daa216;
}

.box:nth-child(4) {
    background-color: #c89216;
}

.box:nth-child(5) {
    background-color: #b28016;
}

.p-lead {
    font-weight: bold;
}

.lead {
    font-weight: bold;
}

.blue {
 color: blue;
}

.input-one, .input-two {
    height: 30px;

}